<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
    <bean class="com.app.beans.Student" id="student">
        <property name="name" value="ram kumar" />
        <property name="username" value="ramman" />
        <property name="email" value="ram@gmail.com" />
        <property name="course" ref="course" />
    </bean>
    <bean class="com.app.beans.Course" id="course"></bean>
    <bean class="java.util.Date" id="d1">
        <property name="year" value="125"></property>
        <property name="month" value="7"></property>
        <property name="date" value="9"></property>
    </bean>
    <bean class="com.app.beans.Employee" id="emp">
        <property name="empName" value="mohit"></property>
        <property name="empDob" ref="d1"></property>
        <property name="dept" value="IT"></property>
    </bean>
</beans>